pacote-download/projeto-glass-html5/.DS_Store
pacote-download/projeto-glass-html5/_imagens/.DS_Store
pacote-download/projeto-glass-html5/_textos/.DS_Store
pacote-download/projeto-glass-html5/curso-html5-pacote02/__MACOSX/_media/._.DS_Store
pacote-download/projeto-glass-html5/curso-html5-pacote02/midia/.DS_Store
